#content {
    align-self: center;    
}

h2, a, input {
    font-family: 'Abel', sans-serif;
}

h3{
    font-family: 'Abel', sans-serif;
    margin: 10px;
}

h5, h6 {
    font-family: 'Abel', sans-serif;
    color: #ffae00;
}

#mainPage{
    background-color: #eee;
    max-width: 1000px;

    margin: auto;
    width: 100%;
    border-radius: 5px;
    padding: 10px;    
}

#horizontalContent{
    overflow-y:auto;white-space:nowrap;
}

#dialogBackground{
    top: 0;
    left: 0;
    position:absolute;    
    width: 100%;
    height: 100%;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 20px;
    color:#fff;    
    font-family: 'Abel', sans-serif;
}

#error {
    font-size: 15px;
    margin-bottom: 10px;
    color:#ff3333;
    font-family: 'Abel', sans-serif;
}

#panel{
    background-color: #000;
    opacity: 0.85;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;

    position: fixed;
    display: flex;

    width: 95%;
    max-width: 500px;
    max-height: 600px;
    border-radius: 15px;
    
}

#panelDetails{
    background-color: #000;
    opacity: 0.9;
    padding: 25px;

    position: fixed;

    width: 95%;
    max-width: 600px;
    max-height: 800px;
    border-radius: 15px;    
}

#loginInput{
    background-color: #444;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;

    margin-bottom: 10px;
}

#orangeButton{
    border-color: cadetblue;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}